
<link rel="stylesheet" href="/css/inicio2.css">
<form action="/inicio2"method="POST">
<body>
<head>
    <div id="contendodrhe">
        <div>
            <div class="navbar">
                <div id="imagen">
                    <img src="/img/logon.png"></img></div>
                    <a id="administrador" href="#">Administrador</a>
                    <a id="inicio" href="/logout">Cerrar Secion</a>
                    <img id="img2" src="/img/perfil.png" alt="">
            </div>
    </div>
</head>
<div id="contenedor">
    <div id="panesillo">
        <img src="/img/panesillo.jpeg" alt="">
    </div>
    <div id="servicios">
        <p>SERVICIOS</p>
    </div>
    <div id="card1">
        <img src="/img/login.jpg" alt="" style="width:80%">
            <h1>Buses</h1>
            <a href="/buses/agregar">Ver más..</a>
    </div>
        <div id="card2">
            <img src="/img/empleados.png" alt="" style="width:80%">
                <h1>Empleados</h1> <br>
                <a href="/empleado/agregar">Ver más..</a>
        </div>
    </div>
    </div>
        <div id="card3">
            <img src="/img/encomiendav2.jpg" alt="" style="width:80%">
                <h1>Encomienda</h1>
                
                <a href="/encomienda/agregar">Ver más..</a>
        </div>
    </div>
    </div>
        <div id="card4">
            <img src="/img/choferes.jpeg" alt="" style="width:85%">
                <h1>Choferes</h1>
             
                <a href="/chofer/agregar">Ver más..</a>
        </div>

        <div id="card5">
            <img src="/img/login.jpg" alt="" style="width:80%">
                <h1>Cooperativa</h1> <br>
                <a href="/cooperativa/agregar">Ver más..</a>
        </div>
    </div>
</div>
<footer id="footer" class="">
      <div class="container">
        <div class="row text-left">
          <div id="contact">
            <p>Contactanos</p>
            <img id="btnwasa" src="/img/wasa.png" alt=""><br>
            <img id="btnmail" src="/img/mail.png" alt=""><br>
            <img id="btntelef" src="/img/telef.png" alt="">
            <b><a>Whatsapp</a><br></b>
            <a>09 3456 7890</a><br> <br>
            <b><a>Email</a></b><br> 
            <a>hola@tickets.com</a> <br> <br>
            <b><a>Call Center</a></b><br> 
            <a>+59322 3456 7891</a><br> <br>
          </div>
          <div id="destin">
            <p>Destinos</p>
            <a href="">Playa</a><br> <br>
            <a href="">Montaña</a><br> <br>
            <a href="">Inolvidables eventos</a>
          </div>
          <div id="soport">
            <p>Soporte</p>
            <a href="">Preguntas frecuentes</a><br> <br>
            <a href="">Política de privacidad</a><br> <br>
            <a href="">Términos y condiciones</a><br> <br>
            <a href="">Inolvidables eventos</a> <br>
          </div>
          <div id="follow">
           <b> <p>Síguenos</p></b>
           <a href=""><img id="ig" src="/img/insta.png" alt=""></a>
           <a href=""><img id="fb" src="/img/fb.png" alt=""></a>
          </div>
        </div>
      </div>
    </footer>
</body>
</form>